:root {}

.counter-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 10px;

    max-width: 33%;

    font-weight: bold;
    font-size: 20pt;
    color: black;

    .card {
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
    }

    .hearts,
    .diamonds {
        color: red;
        border-color: red;
    }

    input {
        display: inline-block;
        max-width: 3em;
        text-align: center;
    }

    .joker {
        font-size: smaller;
    }

    .percent {
        background-color: red;
    }
}
