---json
{
  "values": ["A", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"],
  "suits": ["spades", "diamonds", "clubs", "hearts"]
}
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blackjack Counter</title>
  <link rel="stylesheet" href="./blackjack.scss">
</head>

<body>
  <div class="counter-grid">
  {% for value in values %}
    {% for suit in suits %}
      {% include './card.njk' %}
    {% endfor %}
    <div id="{{ value }}_percent" class="percent"></div>
  {% endfor %}
  </div>
  <div class="cards">
    <span class="joker">Joker</span>
  </div>

  <script type="module" src="./blackjack.ts"></script>
</body>

</html>
